_site/
_gh_pages/
.idea/

# Latex

*.4ct
*.4tc
*.idv
*.lg
*.xref
*.tmp
.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.auxlock
*.dpth
*.tdo
*.dvi
*.bcf
*.run.xml
\#*
.\#*

auto
par-*/