<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/docs-assets/ico/favicon.png">


     <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
        h3 {
            font-size: 18px;
        }
    </style>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="padding-left:100;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dr. Guohui Xiao (肖国辉)</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li  class='{% if page.slug == "home" %}active{% endif %}' ><a href="/">Home</a></li>
                <li  class='{% if page.slug == "publications" %}active{% endif %}' ><a href="/publications.html">Publications</a></li>
                <li  class='{% if page.slug == "thesis" %}active{% endif %}' ><a href="/thesis.html">Thesis</a></li>
                <li  class='{% if page.slug == "contact" %}active{% endif %}' ><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container" style="width:800px">
{{ content }}

<div style="height: 20px">
    <!--place holder-->
</div>


<div style="height: 20px; margin-bottom: 10px; text-align: center">
    Copyright &copy; 2014-1015 Guohui Xiao <br/> 
    <!--
    (Hosted on the <a href="https://github.com/ghxiao/ghxiao.github.io">Github  <img src="images/Octocat.png" width="20px"/> 
    </a> )
    -->
</div>
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47707420-1', 'ghxiao.org');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
</body>
</html>


